<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Creating a Profile and Blog page using Zola</title>
  <link rel="stylesheet" href="https://vjay15.github.io/styles/styles.css">
  
  

</head>

<body>
  <nav>
    <div class="nav-container">
      <a href="https:&#x2F;&#x2F;vjay15.github.io" class="site-name">Vjaylakshman K</a>
      <button class="menu-toggle" aria-label="Toggle menu" aria-expanded="false">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="nav-menu">
        
          
            <li><a href="https://vjay15.github.io/about">About</a></li>
          
            <li><a href="https://vjay15.github.io/portfolio">Portfolio</a></li>
          
            <li><a href="https://vjay15.github.io/blog">Blog</a></li>
          
            <li><a href="https://vjay15.github.io/bucketlist">Bucket List</a></li>
          
            <li><a href="https://vjay15.github.io/files/Resume.pdf">Resume</a></li>
          
        
      </ul>
    </div>
  </nav>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const menuToggle = document.querySelector('.menu-toggle');
      const navMenu = document.querySelector('.nav-menu');
      
      if (menuToggle && navMenu) {
        menuToggle.addEventListener('click', function() {
          const isExpanded = this.getAttribute('aria-expanded') === 'true';
          navMenu.classList.toggle('active');
          this.setAttribute('aria-expanded', !isExpanded);
        });
      }
    });
  </script>
  
  <section class="section">
    <div class="container">
      
<h1>Creating a Profile and Blog page using Zola</h1>
<p><i>Vjaylakshman K • December 03, 2025</i></p>
<p>Hello people :D,</p>
<p>Finally after years of procrastination and laziness, the stars have aligned and I have a blog and profile page! All it took me is a morning to set this all up and get it up and running and yes I will acknowledge that I had to use AI for generating the CSS files because I am no good with that. Anyway this blog is supposed to be a very easy approach as to how can you also make a blog page for yourself!</p>
<h2 id="ssg-static-site-generators">SSG (Static Site Generators)</h2>
<p>First of all let's get started with what an SSG is, according to Mozilla docs</p>
<blockquote>
<p>A static site generator (SSG) is a software used to generate static websites. A static website is comprised of HTML, CSS, and JavaScript files. Most importantly static sites do not have server-side logic, so for any given URL, all users will receive the same content. Authors write content in any form accepted by the generator, such as Markdown, reStructuredText, HTML, (and sometimes even React, and so on), and the generator compiles them into a set of optimized static files that can be rendered by the browser.</p>
</blockquote>
<p>In short this allows you to just focus on writing content using markdown or any required format and the SSG automatically converts it into the required HTML files. This allows for less headaches in formatting the HTML page and instead focus on writing content using Markdown, which is very easy!</p>
<p>There are a lot of Static Site Generators that are available out there, let me list some of them</p>
<ul>
<li><a href="https://www.jekyllrb.com">Jekyll</a> - One of the most famous Static Site Generators, written in ruby</li>
<li><a href="https://www.gohugo.io">Hugo</a> - A SSG but written in Golang, makes it really fast</li>
<li><a href="https://www.getzola.org/">Zola</a> - A SSG but written in Rust, which I have used to create this page!</li>
</ul>
<p>Honestly, any SSG should get your job done, but I wanted to use something simple and since Zola was also written in rust, I wanted to try it out!</p>
<h2 id="setting-up-zola">Setting up Zola</h2>
<p>The Documentation had already provided the ways in which Zola could be installed, and I was using a Mac in order to set it up, therefore I used brew to download Zola</p>
<pre data-lang="bash" class="language-bash "><code class="language-bash" data-lang="bash">brew install zola
</code></pre>
<p><strong>Note:</strong> <a href="https://www.getzola.org/documentation/getting-started/installation/">Installation Page</a></p>
<p>Since I am hosting this on github pages, I created a repository with my username "vjay15.github.io" and another repository where the website files are hosted, you can have a gitignore, otherwise it could be left empty. Clone the repositories locally and cd to the directory (The present working directory should be the website file repository's folder), then</p>
<pre data-lang="bash" class="language-bash "><code class="language-bash" data-lang="bash">zola init #in case you have added LICENSE do -f
</code></pre>
<p>Which should result in Zola asking a few questions to initialise your page</p>
<pre><code>Welcome to Zola!
Please answer a few questions to get started quickly.
Any choices made can be changed by modifying the `config.toml` file later.
&gt; What is the URL of your site? (https:&#x2F;&#x2F;example.com): https:&#x2F;&#x2F;vjay15.github.io
&gt; Do you want to enable Sass compilation? [Y&#x2F;n]: n
&gt; Do you want to enable syntax highlighting? [y&#x2F;N]: y
&gt; Do you want to build a search index of the content? [y&#x2F;N]: y

Done! Your site was created in &#x2F;Users&#x2F;vjay&#x2F;MyWebsite_Zola_Files

Get started by moving into the directory and using the built-in server: `zola serve`
Visit https:&#x2F;&#x2F;www.getzola.org for the full documentation.
</code></pre>
<p>The URL of the site is the default URL of your website, SASS is a preprocessor that allows you to use advanced features like variables, nesting etc. If you want to, enable it. Since I am using vanilla CSS I have disabled it. Syntax highlighting is used for codeblocks and search index allows for easy indexing of your pages for SEO optimization.</p>
<h2 id="working-with-zola">Working with Zola</h2>
<p>After you have successfully set up Zola you will end up with the directory structure like this</p>
<pre data-lang="bash" class="language-bash "><code class="language-bash" data-lang="bash">$ tree                                                                                                                                                                        
.
├── LICENSE
├── config.toml
├── content
├── static
├── templates
└── themes

5 directories, 2 files
</code></pre>
<p>I am not going to be explaining in detail about what each of these directories and files do, because the Overview page of Zola docs does a better job at it so do check it out.</p>
<p><a href="https://www.getzola.org/documentation/getting-started/overview/">Overview Page</a></p>
<p>Now that you've read that you might have got the basic idea behind how Zola helps us organise our content using Markdown and HTML. Now I will explain the rest in a short manner, I might be skipping a lot of details here so I again suggest you to go read the docs if you want in depth explanation.</p>
<p>All of the static assets like images, files and CSS will go under the static directory, you are free to organize them into whatever folder structure you want, I have created separate folder for files, images and styles under the static directory.</p>
<p>Let us go through how I structure my templates</p>
<ul>
<li>The base.html is the base template for all the pages, it contains the header, footer, Navigation bar, linking the style sheets etc.</li>
<li>The index.html is my home page, self explanatory</li>
<li>The page.html is the default page structure for all the different pages I have in my website</li>
<li>The section.html is the page which I use to list out pages in a section, in my case I have only blog section so it lists all the blogs</li>
<li>The blog.html is the page which is the base structure for all the blogs</li>
</ul>
<p>The page URLs are constructed based on the name of the markdown files, so for example if you take my about me page the markdown name is about.md, it is constructed like
<code>https://vjay15.github.io/about</code>. For sections you have a _index.md present in each of them which will specify the name of the section, ordering etc, etc like \</p>
<pre><code>+++
title = &quot;Blog&quot;
sort_by = &quot;date&quot;
template = &quot;section.html&quot;
generate_feeds=true
+++
</code></pre>
<p>The url for sections will thus be <code>https://example.com/section/&lt;md_filename&gt;</code>. Therefore be careful in naming your md files. The page titles for the navbar are stored in config.toml</p>
<pre><code> # Navigation items for navbar
navbar_items = [
    { name = &quot;About&quot;, url = &quot;&#x2F;about&quot; },
    { name = &quot;Portfolio&quot;, url = &quot;&#x2F;portfolio&quot; },
    { name = &quot;Blog&quot;, url = &quot;&#x2F;blog&quot; },
    { name=&quot;Bucket List&quot;, url=&quot;&#x2F;bucketlist&quot;}
]
</code></pre>
<p>and is displayed by looping through the items, in the base.html file</p>
<pre data-lang="html" class="language-html "><code class="language-html" data-lang="html">&lt;nav&gt;
    &lt;div class=&quot;nav-container&quot;&gt;
      &lt;a href=&quot;{{ config.base_url }}&quot; class=&quot;site-name&quot;&gt;Vjaylakshman K&lt;&#x2F;a&gt;
      &lt;ul&gt;
        {% if config.extra.navbar_items %}
          {% for item in config.extra.navbar_items %}
            &lt;li&gt;&lt;a href=&quot;{{ get_url(path=item.url) }}&quot;&gt;{{ item.name }}&lt;&#x2F;a&gt;&lt;&#x2F;li&gt;
          {% endfor %}
        {% endif %}
      &lt;&#x2F;ul&gt;
    &lt;&#x2F;div&gt;
  &lt;&#x2F;nav&gt;
</code></pre>
<p>The get_url is a built in function provided by Zola to fetch the permalink of the pages. You can then choose your favourite AI or LLM tool to generate a minimalist CSS template for your website. Test it out and check if it all works and looks well :D</p>
<h3 id="setting-up-github-pages-for-zola">Setting up Github Pages for Zola</h3>
<p>In order to finally deploy it on Github pages, create a main.yml file under <code>.github/workflows</code> and add the following YAML code. This is under the assumption that the page is going to be deployed in another repository. Before that make sure the DEPLOY_TOKEN is added to the secrets of the repository (This is a personal access token, check how to make one here: <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens">Link</a>)</p>
<pre data-lang="yaml" class="language-yaml "><code class="language-yaml" data-lang="yaml"># On every push this script is executed
on:
  push:
    branches:
      - main

permissions:
  contents: read

name: Build and deploy GH Pages
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref == &#x27;refs&#x2F;heads&#x2F;main&#x27;
    steps:
      - name: Checkout source repository
        uses: actions&#x2F;checkout@v4
      
      - name: Install Zola
        run: |
          curl -L https:&#x2F;&#x2F;github.com&#x2F;getzola&#x2F;zola&#x2F;releases&#x2F;download&#x2F;v0.18.0&#x2F;zola-v0.18.0-x86_64-unknown-linux-gnu.tar.gz | tar xz
          sudo mv zola &#x2F;usr&#x2F;local&#x2F;bin
      
      - name: Build Zola site
        run: zola build
      
      - name: Deploy to vjay15.github.io repository
        uses: peaceiris&#x2F;actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          external_repository: Vjay15&#x2F;vjay15.github.io
          publish_dir: .&#x2F;public
          publish_branch: main
          user_name: &#x27;github-actions[bot]&#x27;
          user_email: &#x27;github-actions[bot]@users.noreply.github.com&#x27;
</code></pre>
<p>In case you are publishing this website to elsewhere I suggest you to check the documentation: <a href="https://www.getzola.org/documentation/deployment/github-pages/">Link</a></p>
<p>This will run and deploy the page automatically the moment you push code to the repository. With that we have now successfully built a static site using Zola from scratch!
Another feature of Zola just like other SSGs is that you can use a pre-existing theme and use it instead. I like to control how the page looks by myself and keep it minimalistic, therefore I created the structure and just made AI write the styles hehe.</p>
<h3 id="optional-adding-giscus-for-comments">Optional: Adding Giscus for comments</h3>
<p>I have added Giscus to all the blog pages in my website so I can receive comments, therefore I will also add on how to add Giscus. Giscus is a comments system built using Github Discussions. The comments are all tracked in a separate repository that is created by you, so it's entirely under your control!</p>
<p>Here are the steps to add Giscus to your website:</p>
<ul>
<li>Create a repository, can be named anything but name it in a way you can remember it, the repository should be public</li>
<li>Go to Giscus app <a href="https://github.com/apps/giscus">page</a>, install it in the new repository created by choosing the option Selected repositories -&gt; The repository you have created.</li>
<li>Enable the Discuss feature, <a href="https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/enabling-or-disabling-github-discussions-for-a-repository">Reference</a></li>
</ul>
<p>After this visit the Giscus <a href="https://giscus.app/">website</a> and enter the information it asks for, if you don't want to read through it just scroll down and under the repository field enter your <code>username/repositoryname</code>, it will show a green tick if your repository is configured properly. Scroll down copy the <code>&lt;script&gt;</code> code which looks like:</p>
<pre data-lang="js" class="language-js "><code class="language-js" data-lang="js">&lt;script src=&quot;https:&#x2F;&#x2F;giscus.app&#x2F;client.js&quot;
        data-repo=&quot;[ENTER REPO HERE]&quot;
        data-repo-id=&quot;[ENTER REPO ID HERE]&quot;
        data-category=&quot;[ENTER CATEGORY NAME HERE]&quot;
        data-category-id=&quot;[ENTER CATEGORY ID HERE]&quot;
        data-mapping=&quot;pathname&quot;
        data-strict=&quot;0&quot;
        data-reactions-enabled=&quot;1&quot;
        data-emit-metadata=&quot;0&quot;
        data-input-position=&quot;bottom&quot;
        data-theme=&quot;preferred_color_scheme&quot;
        data-lang=&quot;en&quot;
        crossorigin=&quot;anonymous&quot;
        async&gt;
&lt;&#x2F;script&gt;
</code></pre>
<p>The values will be autofilled since you had already given the username/repositoryname. This copied code can be appended to the template for your blog, in my case it's in blog.html and voila! the comment box is there along with a reaction button :D</p>
<p>I hope you guys learnt something out of this, do make your own profile/blog page its fun to learn stuff and share it to people!</p>
<p>More random blogs coming soon so stay tuned! Have an epic day.</p>
<h4 id="link-to-the-repository-link">Link to the repository: <a href="https://github.com/Vjay15/MyWebsite_Zola_files">Link</a></h4>

<script src="https://giscus.app/client.js"
        data-repo="Vjay15/giscus-discussions"
        data-repo-id="R_kgDOQhnuHw"
        data-category="General"
        data-category-id="DIC_kwDOQhnuH84CzVUk"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="dark_tritanopia"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>

    </div>
  </section>
  
  
  <footer>
    <div class="footer-container">
      <div class="social-links">
        <a href="https:&#x2F;&#x2F;github.com&#x2F;vjay15" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
          <img src="https://vjay15.github.io/images/github.png" alt="GitHub" class="social-icon">
        </a>
        <a href="https:&#x2F;&#x2F;linkedin.com&#x2F;in&#x2F;vjay15" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
          <img src="https://vjay15.github.io/images/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="mailto:vjaylakshman15@gmail.com" aria-label="Email">
          <img src="https://vjay15.github.io/images/mail.png" alt="Email" class="social-icon">
        </a>
        <a href="https://vjay15.github.io/blog/atom.xml" aria-label="RSS Feed" target="_blank" rel="noopener noreferrer">
          <img src="https://vjay15.github.io/images/rss.png" alt="RSS Feed" class="social-icon">
        </a>
      </div>
      <div class="footer-text">
        Created by Vjaylakshman K with <a href="https://www.getzola.org/">Zola</a>
      </div>
    </div>
  </footer>
</body>

</html>